{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block custom %}
<table class="table table-responsive table-hover">
  <tr>
    <th>ID</th>
    <td>{{ object.id }}</td>
  </tr>
  <tr>
    <th>Zotero-Key</th>
    <td>{{ object.zotero_id.zot_key }}</td>
  </tr>
  <tr>
    <th>Zeitliche Einordnung</th>
    <td>{% if object.time_of_origin_end %}
          {{ object.time_of_origin_start }} {% if object.time_of_origin_end %} - {{ object.time_of_origin_end }} {% endif %}
        {% else %}
        keine Angaben
        {% endif %}
    </td>
  </tr>
  <tr>
    <th>reference for Lemmata</th>
    <td>
      <ul>
        {% for x in object.rvn_hapaplacename_beleg_beleg.all %}
          <li><a href="{{ x.get_absolute_url }}">{{ x }}</a></li>
        {% endfor %}
      </ul>
    </td>
  </tr>

</table> 
{% endblock custom %}
