{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="container-fluid">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb pt-2">
        <li class="breadcrumb-item"><a href="{% url 'webpage:start' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ object.get_listview_url }}">Belege</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
    </ol>
</nav>
  <div class="row">
    <div class="col-md-2">
      {% if object.get_prev %}
      <div class="text-start fs-1">
        <a href="{{ object.get_prev }}" title="previous">
          <i class="bi bi-chevron-left"></i>
        </a>
      </div>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h1 class="text-center">
        {{ object }}
      </h1>
      {% if user.is_authenticated %}
      <div class="d-flex justify-content-center fs-2">
        <a href="{{ object.get_edit_url }}" title="edit">
          <i class="bi bi-pencil-square"></i>
        </a>
        <a class="ps-2" href="{% url 'archiv:copy_beleg' %}?current-id={{object.id}}" title="copy">
          <i class="bi bi-copy"></i>
        </a>
      </div>
      {% endif %}
     
    </div>
    <div class="col-md-2">
      <div class="text-end fs-1">
        {% if object.get_next %}
        <a href="{{ object.get_next }}" style="float:right" title="next">
          <i class="bi bi-chevron-right"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container">
<table class="table table-responsive table-hover">
  <tr>
    <th>ID</th>
    <td>{{ object.id }}</td>
  </tr>
  <tr>
    <th>Zotero-Key</th>
    <td><a href="{{ object.zotero_id.zot_html_link }}">{{ object.zotero_id.zot_key }}</a></td>
  </tr>
  <tr>
    <th>Zeitliche Einordnung</th>
    <td>{% if object.time_of_origin_end %}
          {{ object.time_of_origin_start }} {% if object.time_of_origin_end %} - {{ object.time_of_origin_end }} {% endif %}
        {% else %}
        keine Angaben
        {% endif %}
    </td>
  </tr>
  <tr>
    <th>Textauszug</th>
    <td>{{ object.text|safe }}</td>
  </tr>
  <tr>
    <th>reference for Lemmata</th>
    <td>
      <div class="row">
        <div class="col-md-6">
          <ul>
            {% for x in object.rvn_hapaplacename_beleg_beleg.all %}
              <li>
                <a href="{{ x.get_absolute_url }}">{{ x }} <small>({{ x.id }})</small></a><br/>
                {{ x.as_geojson|json_script:x.geojson_id  }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <div style="padding:0;">

            {% leaflet_map "yourmap" callback="window.map_init_basic" %}

          </div>
        </div>
        
      </div>
      
    </td>
  </tr>
  <tr>
    <th>Kurzzitat</th>
    <td>{{ object.short_quote }}</td>
  </tr>
  <tr>
    <th>genaue Stelle / Seitenangabe</th>
    <td>{{ object.page_nr }}</td>
  </tr>
  <tr>
    <th>Kurzzitat</th>
    <td>{{ object.short_quote }}</td>
  </tr>
  <tr>
    <th>Vollzitat</th>
    <td>{{ object.full_quote }}</td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>
      {% for x in object.tags.all %}
      <span class="badge badge-secondary">{{ x.name }}</span>
      {% endfor %}
    </td>
  </tr>

</table> 
<div class="d-flex justify-content-end fs-2">
  <a href="{{ object.get_delete_url }}" title="delete">
    <i class="bi bi-trash3"></i>
  </a>
</div>
</div>


<script type="text/javascript">
  function map_init_basic(map, options) {
    {% for x in object.rvn_hapaplacename_beleg_beleg.all %}
      {% if x.lat or x.fuzzy_geom %}
        var geojsonFeature = L.geoJSON(JSON.parse(document.getElementById("{{ x.geojson_id }}").textContent));
        geojsonFeature.addTo(map);
        var bounds = geojsonFeature.getBounds();
        var center = bounds.getCenter();
        map.panTo(center);
      {% endif %}
    {% endfor %}
  };
</script>
{% endblock content %}
