{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
    <!-- ############### leaflet stylesheets ############### -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <!-- ############### leaflet script ################ -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
{% endblock scriptHeader %}
{% block content %}
    <div class="container">
        <div class="row">  
            <div class="col-md-12" style="text-align:center">                    
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Karte</h4>                        
                    </div>
                    <div class="card-body" style="padding:0 !important;">
                        <div id="leaflet-map-one" style="padding:0;">
                        </div>
                        <script type="text/javascript">
                            // leaflet map initialize
                            var mymap = L.map('leaflet-map-one').setView([41, 20], 8);
                            // leaflet map add tileLayer
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: 'Map data &amp;copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
                                maxZoom: 18,
                                zIndex: 1
                            }).addTo(mymap);
                            //create labels for each coordinate; create popup with placenames and link
                            var markers = L.markerClusterGroup();
                            {% for x in placename_object.all %}
                            {% if x.lat %}
                                var lat = parseFloat("{{ x.lat }}");
                                var long = parseFloat("{{ x.long }}");
                                var place = "<a href='{{ x.get_absolute_url }}'>{{ x.name }}</a>";
                                markers.addLayer(L.marker([ lat, long ]).bindPopup( place ));
                            {% endif %}      
                            {% endfor %} 
                            mymap.addLayer(markers);
                            // map fitBounds to get view area
                            try {
                                mymap.fitBounds(markers.getBounds());
                            } catch (err) {
                                console.log(err);
                            }         
                        </script>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}