{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock scriptHeader %}
{% block content %}
    <div class="container">
        <div class="row">  
            <div class="col-md-12" style="text-align:center">                    
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Karte</h4>
                    </div>
                    <div class="card-body">
                        <script type="text/javascript">
                            function map_init_basic(map, options) {   
                                {% for x in placename_object.all %}
                                {% if x.lat %}
                                    L.marker([ parseFloat("{{ x.lat }}"), parseFloat("{{ x.long }}") ]).addTo(map)
                                    .bindPopup("<a href='{{ x.get_absolute_url }}'>{{ x.name }}</a>")
                                    .openPopup()
                                {% endif %}      
                                {% endfor %}                       
                            }
                        </script>
                        <div style="padding:0;">

                            {% leaflet_map "fullmap" callback="window.map_init_basic" %}

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}