{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="container-fluid">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}"
              title="back to listview"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
          <a href="{{ object.get_edit_url }}" title="edit">
            <i data-feather="edit"></i>
          </a>
          <a href="{{ object.get_delete_url }}" title="delete">
            <i data-feather="delete"></i>
          </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}"
            title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Info</h4>
          </div>
          <div class="card-body">
            <table class="table table-responsive table-hover">
              <tr>
                <th>Name</th>
                <td>{{ object.name }}</td>
              </tr>
              <tr>
                <th>Alternative Bezeichnungen</th>
                <td>
                  {% if object.alternative_names %}
                    {{ object.alternative_names }}
                  {% else %}  
                    keine Angaben
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Historische(r) Name(n)</th>
                <td>
                  {% if object.historic_names %}
                    {{ object.historic_names }}
                  {% else %}  
                    keine Angaben
                  {% endif %} 
                </td>
              </tr>
              <tr>
                <th>Sprache</th>
                <td>
                  {% if object.orig_sprache %}
                    {{ object.orig_sprache }}
                  {% else %}  
                    keine Angaben
                  {% endif %} 
                </td>
              </tr>
              
              <tr>
                <th>Administrative Einheit</th>
                <td>
                  {% if object.adm_unit %}
                    {{ object.adm_unit }} >> {{ object.adm_unit.broader_concept }}
                  {% else %}  
                    keine Angaben
                  {% endif %} 
                </td>
              </tr>
              <tr>
                <th>Historischer Ort</th>
                <td>{{ object.historic }}</td>
              </tr>
              <tr>
                <th>Geonames</th>
                <td>
                  {% if object.geonames %}
                  <ul>
                    <li>{{ object.geonames.gn_name }}</li>
                    <li>
                      <a href="{{ object.geonames.get_geonames_url }}">
                        {{ object.geonames.get_geonames_url }}
                      </a>
                    </li>
                    <li>
                      {{ object.geonames.gn_feature.notation }}
                      <small>
                        {{ object.geonames.gn_feature.pref_label }}
                      </small>
                    </li>
                  </ul>
                  {% else %}
                  keine Angaben
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Karte</h4>
          </div>
          <div class="card-body">
            {{ object.as_geojson|json_script:"my-geojson" }}
            <script type="text/javascript">
              function map_init_basic(map, options) {
                {% if object.lat or object.fuzzy_geom %}
                   var geojsonFeature = L.geoJSON(JSON.parse(document.getElementById('my-geojson').textContent));
                   geojsonFeature.addTo(map);
                   var bounds = geojsonFeature.getBounds();
                   var center = bounds.getCenter();
                   map.panTo(center);
                {% endif %}
              };
            </script>
            <div style="padding:0;">

              {% leaflet_map "yourmap" callback="window.map_init_basic" %}

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
          <h3>
            Belege
          </h3>
      </div>
      <div class="card-body">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>zotero-id</th>
              <th>
                short_quote
              </th>
              <th>page</th>
              <th>Datierung</th>
              <th>
                text
              </th>
            </tr>
          </thead>
          <tbody>
            {% for x in object.beleg.all %}
            <tr>
              <td>
                <a href="{{ x.get_absolute_url }}">{{ x.id }}</a>
              </td>
              <td>
                <a href="{{ x.zotero_id.zot_html_link }}">{{ x.zotero_id.zot_key }}</a>
              </td>
              <td>{{ x.short_quote }}</td>
              <td>{{ x.page_nr }}</td>
              <td>{{ x.time_of_origin_start }} - {{ x.time_of_origin_end }} </td>
              <td>{{ x.text|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Wortbildung</h3>
      </div>
      <div calss="card-body">
        {{ object.wortbildung|safe }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Etymologie</h3>
      </div>
      <div calss="card-body">
        {{ object.etymology|safe }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Syntax</h3>
      </div>
      <div calss="card-body">
        {{ object.syntax|safe }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Interne Anmerkungen</h3>
      </div>
      <div calss="card-body">
        <table class="table table-responsive table-hover">
          <tr>
            <th>Fraglich</th>
            <td>{{ object.unclear }}</td>
          </tr>
          <tr>
            <th>Anmerkung</th>
            <td>{{ object.internal_comment|safe }}</td>
          </tr>
          <tr>
            <th>Tags</th>
            <td>
              {% for x in object.tags.all %}
              <span class="badge badge-secondary">{{ x.name }}</span>
              {% endfor %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    
  </div>
  {% endblock custom %}
  {% endblock %}