{% extends "webpage/base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="card w-100">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        {% if object.get_prev %}
        <h2>
          <a href="{{ object.get_prev }}" title="previous">
            <i data-feather="chevron-left"></i>
          </a>
        </h2>
        {% endif %}
      </div>
      <div class="col-md-8">
        <h2 style="text-align: center;">
          <small><a href="{{ object.get_listview_url }}"
              title="back to listview"><small>{{ class_name }}</small></a></small>
          {{ object }}
          {% if user.is_authenticated %}
          <a href="{{ object.get_edit_url }}" title="edit">
            <i data-feather="edit"></i>
          </a>
          <a href="{{ object.get_delete_url }}" title="delete">
            <i data-feather="delete"></i>
          </a>
          {% endif %}
          {% if 'archeutils' in APPS %}
          <a href="{% url 'archeutils:res_as_arche_graph' app_name=app_name model_name=class_name|lower pk=object.id %}"
            title="As ARCHE-RDF">
            <i data-feather="download"></i>
          </a>
          {% endif%}
        </h2>
      </div>
      <div class="col-md-2">
        <h2>
          {% if object.get_next %}
          <a href="{{ object.get_next }}" style="float:right" title="next">
            <i data-feather="chevron-right"></i>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    {% block custom %}
    <legend>Basic Information</legend>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-responsive table-hover">
          {% for x in object.field_dict %}
          {% if x.value %}
          {% if user.is_authenticated %}
          <tr>
            <th>
              {% if x.help_text %}
              <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
              {% else %}
              {{ x.verbose_name }}
              {% endif %}
            </th>
            <td>
              {% if x.f_type == 'M2M' %}
              {% for y in x.value %}
              <li>
                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
              </li>
              {% endfor %}
              {% elif  x.f_type == 'FK' %}
              <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
              {% elif  x.f_type == 'FK' %}
              <a href="{{ x.value.get_absolute_url }}">{{ x.value }}</a>
              {% elif  x.f_type == 'REVRESE_RELATION' %}
              {% for y in x.value %}
              <li>
                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
              </li>
              {% endfor %}

              {% elif  x.f_type == 'SIMPLE' %}
              {{ x.value|safe }}
              {% endif %}
            </td>
          </tr>
          {% elif not x.extra_fields or x.extra_fields.is_public %}
          {% if x.verbose_name != "The original data" and x.verbose_name != "ID" and x.verbose_name != "Matches FileChecker Entry" %}
          <tr>
            <th>
              {% if x.help_text %}
              <abbr title="{{ x.help_text }}">{{ x.verbose_name }}</abbr>
              {% else %}
              {{ x.verbose_name }}
              {% endif %}
            </th>
            <td>
              {% if x.f_type == 'M2M' %}
              {% for y in x.value %}
              <li>
                <a href="{{ y.get_absolute_url }}">{{ y }}</a>
              </li>
              {% endfor %}
              {% elif  x.f_type == 'FK' %}
              <a href="{{ x.value.get_absolute_url }}">
                {% if x.verbose_name == "Copyright" %}
                {{ x.value|upper }}
                {% else %}
                {{ x.value }}
                {% endif %}
              </a>
              {% elif  x.f_type == 'FK' %}
              <a href="{{ x.value.get_absolute_url }}"></a>
              {% elif  x.f_type == 'REVRESE_RELATION' %}
              {% for y in x.value %}
              <li>
                <a href="{{ y.get_absolute_url }}">{{ y|upper }}</a>
              </li>
              {% endfor %}

              {% elif  x.f_type == 'SIMPLE' %}
              {{ x.value|safe }}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
        <legend>Belege</legend>
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th>zotero-id</th>
              <th>
                short_quote
              </th>
              <th>page</th>
              <th>Datierung</th>
              <th>
                text
              </th>
            </tr>
          </thead>
          <tbody>
            {% for x in object.beleg.all %}
            <td>
              <a href="{{ x.zotero_id.zot_html_link }}">{{ x.zotero_id.zot_key }}</a>
            </td>
            <td>{{ x.short_quote }}</td>
            <td>{{ x.page }}</td>
            <td>{{ x.time_of_origin_start }} - {{ x.time_of_origin_end }} </td>
            <td>{{ x.text|safe }}</td>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Karte</h4>
          </div>
          <div class="card-body">
            <script type="text/javascript">
              function map_init_basic(map, options) {
                {% if object.lat %}
                  var placeName = "<a href='{{ object.get_absolute_url }}'>{{ object.name }}</a>"
                  var lat = "{{ object.lat }}"
                  var lng = "{{ object.long }}"
                  L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                    .bindPopup(placeName)
                    .openPopup(); 
                {% endif %}
              };
            </script>
            <div style="padding:0;">

              {% leaflet_map "yourmap" callback="window.map_init_basic" %}

            </div>

          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Geonames</h4>
          </div>
          <div class="card-body">
            <ul>
              <li>{{ object.geonames.gn_name }}</li>
              <li>
                <a href="{{ object.geonames.get_geonames_url }}">
                  {{ object.geonames.get_geonames_url }}
                </a>
              </li>
              <li>
                {{ object.geonames.gn_feature.notation }}
                <small>
                  {{ object.geonames.gn_feature.pref_label }}
                </small>
              </li>
            </ul>
            <hr />
          </div>
        </div>

      </div>


    </div>
  </div>
  {% endblock custom %}
  {% endblock %}