dd {
    margin-left: 25px;
}

.navbar {
    border-bottom: 3px solid #bf4300 !important;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 16px;
}


a {
    color: #bf4300;
}

header {
    flex: 0 0 auto;
}

.hero-title-img {
    max-width: 35% !important;
}

.main-content {
    flex: 1 0 auto;
}


.btn {

    white-space: normal;
    margin-bottom: 10px;
    border-color: #bf4300;
    color: #bf4300;
    background-color: transparent;
}

.btn:hover {
    background-color: #bf4300;
    border-color: #bf4300;
    color: #444;
}


#yourmap {
    z-index: 0;
    /*min-height: 1000px;*/
    /* min-height: 450px;*/
}